.btn {
  width: 100%;
  border-radius: $border-radius;
  font-size: 12px;
  padding: $input-padding-mobile;
  text-transform: uppercase;
  outline: none;
  transition: all 0.5s ease-out;

  &--primary {
    background-color: $blue-color-primary;
    color: $color-white;
    border: 3px solid transparent;

    &:hover {
      background-color: $blue-color-primary-hover;
    }
  }

  &--secondary {
    background-color: transparent;
    color: $blue-color-secondary;
    border: 3px solid $blue-color-secondary;

    &:hover {
      color: $color-white;
      background-color: $blue-color-primary;
      border: 3px solid $blue-color-primary;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    padding: $input-padding-tablet;
    font-size: $input-font-size-tablet;
  }
}
