@import '../../styles/variables';

button {
  padding: 10px 16px;
  border-radius: $border-radius;
  text-transform: uppercase;
  outline: none;
  transition: all 0.5s ease-out;
}

.button--primary {
  background-color: $button-color-primary;
  color: $color-white;
  border: 2px solid transparent;

  &:hover {
    background-color: $button-color-primary-hover;
  }
}

.button--secondary {
  background-color: transparent;
  color: $button-color-secondary;
  border: 2px solid $button-color-secondary;

  &:hover {
    color: $color-white;
    background-color: $button-color-secondary-hover;
    border: 2px solid $button-color-secondary;
  }
}
