.input {
  width: 100%;
  background-color: #11191f;
  padding: $input-padding-mobile;
  outline: none;
  border: 3px solid $border-color;
  border-radius: $border-radius;
  font-size: $input-font-size-mobile;
  color: $text-color-primary;
  transition: $tranistion;

  &::placeholder {
    font-size: $input-font-size-mobile;
  }

  &:focus {
    border-color: $input-color-secondary;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: $input-padding-tablet;
    font-size: $input-font-size-tablet;

    &::placeholder {
      font-size: $input-font-size-tablet;
    }
  }
}
