// text color
$text-color-primary: #bbc6ce;
$logo-text-color: #0f94c1;
$h2-color: #e1e6eb;
$h3-color: #d5dce2;
$color-white: #ffffff;
$subtitle-color: #73828c;

$blue-color-primary: #1095c1;
$blue-color-primary-hover: #19b3e6;
$blue-color-secondary: #0f94c1;
$blue-color-secondary-hover: #19b3e6;
$black-color: #11191f;

// input
$input-padding-mobile: 8px 14px;
$input-padding-tablet: 14px 20px;
$input-font-size-mobile: 14px;
$input-font-size-tablet: 16px;

// border
$border-color: #374956;
$border-radius: 5px;

// animation
$tranistion: all 0.5s ease-out;

// screen
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$screen-max-width: 1280px;
