// text color
$text-color-primary: #bbc6ce;
$h2-color: #e1e6eb;
$h3-color: #d5dce2;
$color-white: #ffffff;
$subheading-color: #73828c;

// button colors
$button-color-primary: #1095c1;
$button-color-primary-hover: #19b3e6;

$button-color-secondary: #0f94c1;
$button-color-secondary-hover: #19b3e6;

// border
$border-color: #374956;
$border-radius: 5px;

// animation
$tranistion: all 0.5 ease-out;

// Here are the conversions from HSL to RGB and HEX for the specified colors:

// --primary-hover: hsl(195, 80%, 50%)

// RGB: (25, 179, 230)
// HEX: #19b3e6
// --color: hsl(205, 16%, 77%)

// RGB: (187, 198, 206)
// HEX: #bbc6ce
// --primary: hsl(195, 85%, 41%)

// RGB: (16, 149, 193)
// HEX: #1095c1
// --h3-color: hsl(205, 18%, 86%)

// RGB: (213, 220, 226)
// HEX: #d5dce2
// --muted-color: hsl(205, 10%, 50%)

// RGB: (115, 130, 140)
// HEX: #73828c
