@import '../../styles/variables';

.header {
  &__container {
    max-width: $screen-max-width;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $logo-text-color;
  }
}
