.weather {
  &__title {
    margin: 0;
  }
  &__subtitle {
    margin: 0;
    color: $subtitle-color;
  }
  &__search-form {
    margin: 30px 0 20px;
    display: flex;
  }
  &__content {
    margin: 20px auto;
  }
}
